:root {
  /* --main-accent: #dda122; */
  --main-accent: #eeb334;
  /* --regular-text: #242424; ++ */
  --regular-text: #141414;
}

html {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;

  background-color: #ebf5ff; 

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

h1, h2, h3, h4 {
  color: var(--main-accent);
  font-family: 'Modak', cursive;
  font-size: 10em;
  font-weight: 400;
}

h5, h6 {
  color: var(--regular-text);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  margin: unset;
}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}

a {
  text-decoration: none;
  color: var(--regular-text);
}

a:hover {
  text-decoration: underline;
}

body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

header {
  grid-column: 2 / 9;
  grid-row: 1 / 4;
  /* background-color: darkgray; */

  height: 100vh;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr)
}

header nav {
  display: flex;
  justify-content: space-between;

  grid-row: 1 / 2;
  grid-column: 1/ 7;
}

header nav p {
  margin: auto;
  margin-top: 2rem;
}

header h1 {
  grid-row: 3 / 5;
  grid-column: 1 / 7;
  justify-self: center;

  margin-top: 0px;
  margin-bottom: 0px;

  padding: unset;
  margin: unset;
}

header p {
  grid-row: 4 / 5;
  grid-column: 1 / 8;

  justify-self: center;
}




/* ABOUT ME     ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME*/
.about-me {
  /* background-color: blanchedalmond; */
  grid-row: 4 / 7;
  grid-column: 2 / 9;

  height: 100vh;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);

  /* margin-bottom: 15em; */
}

.about-me h4 {
  grid-column: 1 / 9;
  grid-row: 1 / 2;

  margin-top: 2rem;
  margin-bottom: 0;

  justify-self: center;
  margin-block: auto;
}

.about-me .avatar {
  grid-column: 1 / 4;
  grid-row: 2 / 4;

  /* margin-top: -40px; */
  margin-top: 0.2rem;
  margin-left: 70px;
}

.about-me p {
  grid-column: 4 / 9;
  grid-row: 2 / 6;

  margin: 0;
  margin-top: 4.5rem;
  margin-left: 50px;
}







/*    MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK */
/* !READ BEFORE! 
    create previews, images or short vids for each piece
    make the links "jump" nicer, more precisely
   */
.my-work {
  grid-row: 7 / 10;
  grid-column: 2 / 9;

  height: 100vh;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1em;
}

.my-work h4 {
  grid-column: 1 / 8;
  grid-row: 1 / 3;
  justify-self: end;

  /* margin-block: unset; */
  /* margin-bottom: -8rem */
  margin-top: 0.5em;
}

.portfolio-preview-component {
  grid-row: 4 / 9; 

  background-color: #eeb334;
  border-radius: 10px;
  padding: 1rem;
} 

.portfolio-preview-component .fake-preview-img {
  height: 15em;
  width: 100%;
  background-color: bisque;

  margin-bottom: 1rem;
  border-radius: 5px;
}

.portfolio-preview-component p {
  margin: unset;
}

.portfolio-preview-component h5 {
  margin-bottom: 0.8rem;
}