:root {
  /* --main-accent: #dda122; */
  --main-accent: #eeb334;
  /* --regular-text: #242424; ++ */
  --regular-text: #141414;
}

html {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;

  /* background-color: #CCDCE4; blue tint   */
  /* background-color: #C4CCD4;  */
  background-color: #ebf5ff; 
  /* background-color: #D4E4EC; bright */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-accent);
  font-family: 'Modak', cursive;
  font-size: 10em;
  font-weight: 400;
}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: var(--regular-text);
}

a:hover {
  text-decoration: underline;
}

body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

header {
  grid-column: 2 / 8;
  grid-row: 1 / 4;
  /* background-color: darkgray; */

  height: 100vh;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr)
}

header nav {
  display: flex;
  justify-content: space-between;

  grid-row: 1 / 2;
  grid-column: 1/ 7;
}

header nav p {
  margin: auto;
  margin-top: 2rem;
}

header h1 {
  grid-row: 3 / 5;
  grid-column: 1 / 7;
  justify-self: center;

  margin-top: 0px;
  margin-bottom: 0px;

  padding: unset;
  margin: unset;
}

header p {
  grid-row: 4 / 5;
  grid-column: 1 / 8;

  justify-self: center;
}




/* ABOUT ME     ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME    ABOUT ME*/
.about-me {
  /* background-color: blanchedalmond; */
  /* grid-row: 7 / 10; */
  grid-row: 4 / 7;
  grid-column: 2 / 8;

  height: 100vh;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.about-me h4 {
  grid-column: 1 / 9;
  grid-row: 1 / 2;

  margin-top: 2rem;
  margin-bottom: 0;

  justify-self: center;
  margin-block: auto;
}

.about-me .avatar {
  grid-column: 1 / 4;
  grid-row: 2 / 4;

  /* margin-top: -40px; */
  margin-top: 0.2rem;
  margin-left: 70px;
}

.about-me p {
  grid-column: 4 / 9;
  grid-row: 2 / 6;

  margin: 0;
  margin-top: 4.5rem;
  margin-left: 50px;
}







/*    MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK   MY WORK */
/* !READ BEFORE! 
    h4 needs to be centered
    create previews or at least images fot each piece
    rounded corner components

   */
/* .my-work {
  grid-row: 7 / 10;
  grid-column: 2 / 8;

  height: 100vh;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.my-work h4 {
  grid-column: 1 / 8;
  grid-row: 1 / 2;
  justify-self: center;

  margin-bottom: 0;
  margin-block: auto;
}

.portfolio-preview-component {
  grid-column: 1 / 8;
  grid-row: 3 / 6;

  height: 10em;
  width: 8em;
  background-color: #eeb334;
  border-radius: 5px;
} */